// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
// Variables

@main-color: @violent-violet;
@second-color: @niagra;
@third-color: @khaki;
@fourth-color: @carrot-orange;
@fifth-color: @cumin;

@violent-violet: #190A4F;
@niagra: #0EB790;
@khaki: #EEEA8D;
@carrot-orange: #EC9D24;
@cumin: #8D3D20;




// General Styles

html {
	font-family: 'Catamaran', sans-serif;
	font-family: 'Roboto', sans-serif;	
}

.container {
	max-width: 900px;
	width: 100%;

	@media(max-width: 768px){

	}
	@media(max-width: 450px){
		
	}
}
// Start of header page
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	h2 {
		font-family: 'Catamaran', sans-serif;
		font-size: 1.6rem;
		color: @main-color;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a {
			padding: 15px;
			font-size: 1.3rem;
			color: @main-color;
		}
	}




}// Hero

.hero {
	width: 100%;
	height:400px;
	background-image: url("/images/hero.jpg");
	background-size: cover; /* or contain depending on what you want */
	background-position: center center;
	background-repeat: no-repeat;
	text-align:center;
	margin:auto;
	padding:0;
		.top {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 400px;
			height: auto;
			margin-left: 0 0 0 100px;
				h1 {
					font-family: 'Catamaran', sans-serif;
					font-size: 2.6rem;
					color: @third-color;

					
				}
				h4 {
					font-family: 'Catamaran', sans-serif;
					font-size: 1.8rem;
					color: @third-color;
				}	

		}
		

	}
	// Main Section


main {
	width: 55%;
	float: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	h2 {
		font-family: 'Catamaran', sans-serif;
		font-size: 1.8rem;
		color: @main-color;
		margin: 30px 0 0 40px;
	}
	p {
		font-family: 'Catamaran', sans-serif;
		font-size: 1.2rem;
		color: @fifth-color;
		margin: 10px;
		padding: 20px 50px;
	}
}

aside {
	width: 45%;
	float: right;
}